[Unit]
Description=temporary home directory creator
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/home/raviqqe/tmphome.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
